body {
  background-image: url("./Images/Raw.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-attachment: fixed;
}

input[type="search"] {
  width: 50vh;
  line-height: 10px !important;
  text-shadow: 30px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-wrapper {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}
